<?xml version="1.0"?>

<robot name="bumperbot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <ros2_control type="system" name="RobotSystem">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin> <!-- Means we are using gazebo and no a real robot-->
        </hardware>   
        
        <joint name="wheel_right_joint">
            <command_interface name="velocity"> <!-- Write to the resource, send commands to the hardware (the motors)-->
                <param name="min">-1</param>
                <param name="max">1</param>
            </command_interface>            

            <state_interface name="position"/> <!-- Get data from the sensors and obtainr the real state of the hardware (motors)-->
            <state_interface name="velocity"/>
        </joint>

        <joint name="wheel_left_joint">
            <command_interface name="velocity"> <!-- Write to the resource, send commands to the hardware (the motors)-->
                <param name="min">-1</param>
                <param name="max">1</param>
            </command_interface>            

            <state_interface name="position"/> <!-- Get data from the sensors and obtainr the real state of the hardware (motors)-->
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>
</robot>